<mat-toolbar color="primary">
  
    <div>
     Liste Collectes
    </div>
    
  </mat-toolbar>
<input type="text" [(ngModel)]="SearchText" class="form-control bg-light border-0 small"
(keyup)="searchByLib()"
placeholder="Recherche..." aria-label="Search" aria-describedby="basic-addon2">
<table class="table table-hover">
<thead class="thead-light">

<th>numero</th>  
<th>libelle</th>  

<th>Date Collecte</th>
<th>Destination</th>


<th>
<a class="btn btn-outline-success"   (click)="newCollecte()"><i class="fa fa-plus-square"></i>
 Create New</a>
</th>
</thead>
<tbody>
<tr *ngFor="let col of list">
<td class = "hidden">{{col.id}}</td>
<td>{{col.numero}}</td>
<td>{{col.libelle}}</td>

<td>{{col.date_mvt| date:'dd/MM/yyyy'}}</td>

<td>{{col.destinationLibelle}}</td>

<td>
  <a class="btn text-warning" (click)="onSelect(col)"><i class="fa fa-pencil fa-lg">

  </i> </a>
<a class="btn text-danger"   (click)="onDelete(col.id)"><i class="fa fa-trash-o">

</i> </a>

</td>
</tr>
<div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="dataTable_info" 
role="status" aria-live="polite"></div></div><div class="col-sm-12 col-md-7">
<div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
  <ul class="pagination"></ul></div></div></div>
</tbody>
</table>
