<div class="row">
    <h1> <i class="fas fa-user"></i>&nbsp; Liste des chauffeurs</h1>
  
  
  </div>
  <br>
  
  
  <div *ngIf="this.role=='admin'" class="row">
  
    <a class="btn btn-success" style="color: white;" (click)="addChauffeur()"><i class="fa fa-plus-square"></i> Create New
        chauffeur</a>
  
  </div>
  <br><br>
  <div class="row">
  
    <table class="table table-bordered  table-hover table-responsive-sm table-responsive-md   table-responsive-lg">
  
      <thead calss="thead-light">
        <tr>
          <th style="color: black;"scope="col">code</th>
          <th style="color: black;"scope="col">nom </th>
          <th style="color: black;"scope="col">prenom</th>
          <th style="color: black;"scope="col">adresse </th>
          <th style="color: black;"scope="col">tel </th>

          <th *ngIf="this.role=='admin'" class="text-center" style="width: 13%; color: black;" scope="col">Action</th>
  
        </tr>
      </thead>
      <tbody>
  
  
        <tr *ngFor="let item of crudApi.list | paginate: { itemsPerPage: 3, currentPage: p } ">
          <td>{{item.code}}</td>
          <td>{{item.nom}}</td>
          <td>{{item.prenom}}</td>
          <td>{{item.adresse}}</td>
          <td>{{item.tel}}</td>

  
  
          <td *ngIf="this.role=='admin'"><button class="btn btn-warning" (click)="selectData(item)">
              <i class="fa fa-pencil-square-o"></i></button> &nbsp;<button class="btn btn-danger"
              (click)="removeData(item.id)">
              <i class="fa fa-trash-o"></i></button></td>
        </tr>
      </tbody>
    </table>
  
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  
  </div>