<div class="col-md-12 col-md-offset-2">
  <h1>Catégorie</h1>    
  <form [formGroup]="this.crudApi.dataForm" (ngSubmit)="onSubmit()">
    <input type="hidden"  formControlName="id" id="id">
    <div class="form-group">
      <label>Code </label>
      <input type="text" formControlName="code" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.code.errors }" />
      <div *ngIf="submitted && f.code.errors" class="invalid-feedback">
          <div *ngIf="f.code.errors.required">code doit etre au minimum 3 caractères</div>
    </div>
    </div>
    <div class="form-group">
      <label>Libelle </label>
      <input type="text" formControlName="libelle" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.libelle.errors }" />
      <div *ngIf="submitted && f.libelle.errors" class="invalid-feedback">
          <div *ngIf="f.libelle.errors.required">libelle doit etre au minimum 4 caractères</div>
    </div>
    </div>
    <div class="form-group">
  
      <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Submit</button>
      <button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]><i class="fa fa-close"></i> Close</button>
  

</div>
  </form>
</div>


