<div>
    <h1>Gestion Facture</h1> 
    </div>
    
<form [formGroup]="this.service.formData" (ngSubmit)="onSubmit()" >
<input  type="hidden"  class="form-control" formControlName="libclient" id="libclient" >
<div class="form-group row col-md-12">
  <div class="form-group col-md-6">
      <label><strong>Num facture : </strong></label>
      <input  type="text"  class="form-control" formControlName="numero" id="numero" readonly>
  </div>  
  <div class="form-group col-md-6">
    <label><strong>Libelle</strong></label>
    <input  type="text"  class="form-control" formControlName="libelle" id="libelle" >
  </div> 
  <div class="col-md-6 form-group">
        <label>Date</label>
      <input  type="date"  class="form-control" formControlName="date_fct"  id="date_fct">
  </div>
  
  <div class="col-md-6 form-group">
    <label>Client</label>
    <select class="form-control" formControlName="idclient" id="idclient" 
    (change)="OnSelectClient($event.target)">
    <option value="0">-Select-</option>
    <option *ngFor="let client of this.ClientList" value="{{client.id}}">{{client.nom}}</option>
    </select>
  </div>
 


  </div>
  <table class="table table-borderless">
    <thead class="thead-light">
      <th>num</th>
      <th>num Depot</th>
      <th>Tott Ht</th>
      <th>Tottva </th>
      <th>Totttc</th>
      <th>
        <a class="btn btn-sm btn-success text-white" (click)="AddData(null,1)">
            <i class="fa fa-plus"></i>Ajouter </a>
      </th>
    </thead>
    <tbody>
        <tr *ngIf="service.list.length==0" 
         [class.text-danger]="!isValid && service.list.length ==0">
            <td class="font-italic text-center" colspan="5">
              Aucune Depot sélectionnée ...
            </td>
          </tr>
      <tr *ngFor="let item of service.list;let i=index;">
      <td>{{item.numero}}</td>  
      <td>{{item.numdepot}}</td>
      <td>{{item.totht}}</td>
      <td>{{item.tottva}}</td>
      <td>{{item.totttc}}</td>

      <td>
          <a class="btn btn-sm btn-info text-white" *ngIf="this.service.choixmenu==1"  (click)="AddData(i,1)">
              <i class="fa fa-pencil"></i></a>
          <a class="btn btn-sm btn-danger text-white" (click)="onDelete(item,item.id,i)">
            <i class="fa fa-trash-o"></i></a>      </td>
    </tr>
    </tbody>
  </table>
  <div class="form-group row">
        <div class="col-sm-4 mb-3 mb-sm-0">
        <div class="form-group">
            <label>Total Ht : </label>
            <input type="text" class="form-control" id="totht" formControlName="totht" readonly>
        </div>
        </div> 
        <div class="col-sm-4 mb-3 mb-sm-0">
        <div class="form-group">
            <label>Total Tva  : </label>
            <input type="text" class="form-control" id="tottva" formControlName="tottva" readonly>
        </div>
        </div>
        <div class="col-sm-4 mb-3 mb-sm-0">
        <div class="form-group">
        <label>Total TTC : </label>
        <input type="text" class="form-control" id="totttc" formControlName="totttc" readonly>
        </div>
        </div>        
     </div>
  <div class="form-group">
    <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Submit</button>
    <a class="btn btn-outline-dark ml-1" routerLink="/factures"><i class="fa fa-plus-square"></i> Liste </a>

 </div>
</form> 