<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

  <div id="wrapper" class="animate">
    <nav class="navbar header-top fixed-top navbar-expand-lg navbar-dark bg-dark">
      <a href="#" class="site-logo">
        <img src="assets/img/poste1.jpg" alt=" " width="50" height="50">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav animate side-nav" id="sideb">

          <li  class="nav-item">
            <a style="color: white;" *ngIf="this.role== 'admin' || this.role== 'agent'" class="nav-link"routerLink ="/agents" routerLinkActive="active" title="clients"> <i class="fas fa-users"></i><span class="ttip">Liste des users</span></a>
		  </li>
      
 
		 
          <li class="nav-item">
            <a style="color: white;" *ngIf="this.role== 'admin' || this.role== 'agent'" class="nav-link" routerLink ="/articles" routerLinkActive="active"  title="article"> <i class="fas fa-boxes"></i><span class="ttip">Liste des articles</span></a>
		  </li>
		  <li class="nav-item">
            <a style="color: white;" *ngIf="this.role== 'admin' || this.role== 'agent'" class="nav-link" routerLink ="/categories" routerLinkActive="active" title="Categories"> <i class="fas fa-cubes"></i><span class="ttip">Liste des categorie</span></a>
		  </li>
		  <li class="nav-item">
            <a style="color: white;" *ngIf="this.role== 'admin' || this.role== 'agent'" class="nav-link" routerLink ="/scategories" routerLinkActive="active" title="sousCategories"> <i class="fas fa-th-large"></i><span class="ttip">Liste des sous categorie</span></a>
		  </li>
      <li class="nav-item">
        <a style="color: white;" *ngIf="this.role== 'admin' || this.role== 'agent'" class="nav-link" routerLink ="/destinations" routerLinkActive="active" title="destinations"> <i class="fas fa-map-marker-alt"></i><span class="ttip">Liste des destinations</span></a>
  </li>
  <li class="nav-item">
    <a style="color: white;" *ngIf="this.role== 'admin' || this.role== 'agent'" class="nav-link" routerLink ="/voitures" routerLinkActive="active" title="voitures"> <i class="fas fa-shuttle-van"></i><span class="ttip">Liste des voitures</span></a>
</li>
  <li class="nav-item">
    <a style="color: white;" class="nav-link" routerLink ="/depots" *ngIf="this.role== 'client' || this.role== 'agent'" routerLinkActive="active" title="depots"> <i class="fas fa-envelope-square"></i><span class="ttip">Liste des depots</span></a>
</li>
<li class="nav-item">
  <a style="color: white;" class="nav-link" routerLink ="/factures" *ngIf="this.role== 'client' || this.role== 'agent'" routerLinkActive="active" title="facturation"> <i class="fas fa-file-invoice-dollar"></i><span class="ttip">Liste des factures</span></a>
</li>
<li class="nav-item">
  <a style="color: white;" class="nav-link" routerLink ="/listreclamation" *ngIf="this.role== 'client' || this.role== 'admin'" routerLinkActive="active" title="reclamation"> <i class="fas fa-comment-alt"></i><span class="ttip">Liste des reclamations</span></a>
</li>
<li class="nav-item">
  <a style="color: white;" class="nav-link" routerLink ="/reglements" *ngIf="this.role== 'client' || this.role== 'agent'" routerLinkActive="active" title="reglement"> <i class="fas fa-money-check-alt"></i><span class="ttip">Liste des reglements</span></a>
</li>
        
        </ul>
        <ul class="navbar-nav ml-md-auto d-md-flex">
          <li class="nav-item">
            <a style="color: white; " class="nav-link" (click)="openchatbot()"  *ngIf="this.role== 'client'" ><i class="fab fa-facebook-messenger"></i></a>
          </li>
          <li class="nav-item">
            <a style="color: white;" class="nav-link" ><i class="fas fa-user"></i> &nbsp; {{this.user.username}} </a>
          </li>
          <li class="nav-item">
            <a style="color: white; " class="nav-link" routerLink ="/profil"  *ngIf="this.role== 'client'" ><i class="fas fa-wrench"></i></a>
          </li>
          <li class="nav-item">
            <a style="color: white;" class="nav-link" (click)="logout()"><i class="fas fa-key"></i> Logout</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
		
		<router-outlet>
            
		</router-outlet>
  
  </div>
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <style>

body{background:#f3f3f3;}
#wrapper{padding:90px 15px;}
.navbar-expand-lg .navbar-nav.side-nav{flex-direction: column;}
.header-top{box-shadow: 0 3px 5px rgba(0,0,0,.1)}


@media(min-width:992px) {
#wrapper{margin-left:70px}
.navbar-nav.side-nav{text-align:center;background: #585f66;box-shadow: 2px 1px 2px rgba(0,0,0,.1);position:fixed;top:59px;flex-direction: column!important;left:0px;width:70px;bottom:0;padding-bottom:40px}
.side-nav li { border-bottom: 1px solid #50575d;}
.side-nav li a {padding: 20px;display:block;position:relative;}
.navbar-nav li a svg{font-size: 25px;margin: 0 10px 0 5px;}
.navbar-nav li a .ttip {opacity:0;position:absolute;    background: #333;
    left: 0px;
    white-space: nowrap;
    top: 16px;
    border-radius: 3px;
    padding: 5px 10px;
    transition: .5s ease all;}
.navbar-nav li a:hover .ttip {opacity:1;left: 70px;}
.navbar-nav li a .ttip:after {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-right-color: #333;
	border-width: 5px;
	margin-top: -5px;
}
}
  </style>
  <script>

$(document).ready(function () {
  $('.leftmenutrigger').on('click', function (e) {
    $('.side-nav').toggleClass("open");
    $('#wrapper').toggleClass("open");
    e.preventDefault();
  });
});
  </script>