<br>
<div>
<form [formGroup]="this.crudApi.dataForm" (ngSubmit)="onSubmit()">
  <input type="hidden" formControlName="id" id="id">
  <div class="form-group">
    <div class="form-group ">
   
      <label id="lib" >Catégorie </label>
      <select class="form-control" formControlName="code_categ" id="code_categ"
      (change)="onSelectCateg($event.target)">
      <option value="0">-Select-</option>
      <option *ngFor="let item of CategorieList" value="{{item.id}}">{{item.libelle}}</option>
      </select>
    </div>
 

    <div class="form-group">
      <label >Sous catégorie</label>
      <select class="form-control"  formControlName=cscateg id="code_scateg"
      (change)="onSelectScateg($event.target)">
         
      
       
        <option value="0">-Select-</option>
        <option *ngFor="let item of scategorieList" value="{{item.id}}">{{item.libelle}}</option>
      </select>
    </div>
    <div class="form-group">
      <label>Code Article </label>
      <input type="text" class="form-control" formControlName="code" id="code" >
    </div>
    <div class="form-group">
      <label>Code Barre </label>
      <input type="text" class="form-control" formControlName="code_b" id="code_b">
    </div>
  </div>
  <div class="form-group ">
    <label>Libelle </label>
    <input type="text" formControlName="libelle" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.libelle.errors }" />
    <div *ngIf="submitted && f.libelle.errors" class="invalid-feedback">
        <div *ngIf="f.libelle.errors.required">libelle doit etre au minimum 4 caractères</div>
  </div>
  </div>
  <div class="form-group">

    <div class="form-group">
      <label>Prix Achat </label>
      <input type="text" class="form-control" formControlName="pa" id="pa" [ngClass]="{ 'is-invalid': submitted && f.pa.errors }">
      <div *ngIf="submitted && f.pa.errors" class="invalid-feedback">
        <div *ngIf="f.pa.errors.required">prix d'achat ne doit être vide</div>
    </div>
  </div>
</div>
    <div class="form-group">
      <label>Prix Vente </label>
      <input type="text" class="form-control" formControlName="pv" id="pv" [ngClass]="{ 'is-invalid': submitted && f.pv.errors }">
      <div *ngIf="submitted && f.pv.errors" class="invalid-feedback">
        <div *ngIf="f.pv.errors.required">prix de vente ne doit être vide</div>
    </div>
  </div>
    <div class="form-group">
      <label>TVA </label>
      <select class="form-control" formControlName="tva" id="tva">
        <option value=0>0</option>
        <option value=7>7</option>
        <option value=13>13</option>
        <option value=19>19</option>
      </select>
    </div>
    <div class="form-group">
      <label>Fodec </label>
      <input type="text" class="form-control" formControlName="fodec" id="fodec">
    </div>
    <div class="form-group">
      <label>Stock Init </label>
      <input type="text" class="form-control" formControlName="stock" id="stock" [ngClass]="{ 'is-invalid': submitted && f.stock.errors }">
      <div *ngIf="submitted && f.stock.errors" class="invalid-feedback">
        <div *ngIf="f.stock.errors.required">stock initial ne doit être vide</div>
    </div>
  </div>
    <div class="form-group">
      <label>Stock  </label>
      <input type="text" class="form-control" formControlName="stock" id="stock" [ngClass]="{ 'is-invalid': submitted && f.stock.errors }">
      <div *ngIf="submitted && f.stock.errors" class="invalid-feedback">
        <div *ngIf="f.stock.errors.required">stock  ne doit être vide</div>
    </div>
  </div>
  <div class="form-group">
   <label>File Upload  </label>
            <input type="file" accept="image/*" (change)="onSelectFile($event)">
            <img [src]="imgURL" height="200" *ngIf="imgURL">
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Submit</button>
    <button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]>
      <i class="fa fa-close"></i> Close</button>
  </div>
</form>
</div>