<br>
<div>
<form [formGroup]="this.crudApi.dataForm" (ngSubmit)="onSubmit()">
  <input type="hidden" formControlName="id" id="id">
  <div class="form-group">

 

    <div class="form-group">
      <label>Scatégorie</label>
      <select class="form-control"  formControlName=cscateg id="code_scateg"
        > <!-- attriute teb3a el code_scateg
          (change)="onSelectScateg($event.target.value)"
      -->
       
        <option value="3">-Select-</option>
        <option *ngFor="let item of scategorieList" value="{{item.id}}">{{item.libelle}}</option>
      </select>
    </div>
    <div class="form-group">
      <label>Code Article </label>
      <input type="text" class="form-control" formControlName="code" id="code" >
    </div>
    <div class="form-group">
      <label>Code Barre </label>
      <input type="text" class="form-control" formControlName="code_b" id="code_b">
    </div>
  </div>
  <div class="form-group ">
    <label>Libelle </label>
    <input type="text" class="form-control" formControlName="libelle" id="libelle">
  </div>
  <div class="form-group">

    <div class="form-group">
      <label>Prix Achat </label>
      <input type="text" class="form-control" formControlName="pa" id="pa">
    </div>
    <div class="form-group">
      <label>Prix Vente </label>
      <input type="text" class="form-control" formControlName="pv" id="pv">
    </div>
    <div class="form-group">
      <label>TVA </label>
      <select class="form-control" formControlName="tva" id="tva">
        <option value=0>0</option>
        <option value=7>7</option>
        <option value=13>13</option>
        <option value=19>19</option>
      </select>
    </div>
    <div class="form-group">
      <label>Fodec </label>
      <input type="text" class="form-control" formControlName="fodec" id="fodec">
    </div>
    <div class="form-group">
      <label>Stock Init </label>
      <input type="text" class="form-control" formControlName="stkinit" id="stkinit">
    </div>
    <div class="form-group">
      <label>Stock  </label>
      <input type="text" class="form-control" formControlName="stock" id="stock">
      </div>
  </div>
  <!--stock: [0, [Validators.required]],
  -->
 <!-- <div class="form-group">
    <label>File Upload </label>
    <input type="file" accept="image/*" (change)="onSelectFile($event)">
    <img [src]="imgURL" height="200" *ngIf="imgURL">
  </div>-->
  <div class="form-group">
    <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Submit</button>
    <button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]>
      <i class="fa fa-close"></i> Close</button>
  </div>
</form>
</div>