<div class="container">
    <br><br><br><br><br>
  <div class="row justify-content-center">
  <div class="col-xl-8 col-lg-10 col-md-7">
  <div class="card o-hidden border-0 shadow-lg my-5">
  <div class="card-body p-0">
  <div class="row">
  <div class="col-lg-4 justify-content-center">
    <img src="assets/login/img/poste2.jpg" id="logicon" class="img-circle " alt="User Image">
  </div>
  <div class="col-lg-8">
  <div class="p-5">
  <div class="text-center">
    <h1 class="" style="color: navy;"><i class="fa fa-key"></i>&nbsp; Login</h1>
  </div>
  <form class = "user" [formGroup]="this.LoginForm" (ngSubmit)="onSubmit()">
  
    <div class="input-group mb-3">  
     <div class="input-group-prepend">  
      <span class="input-group-text"><i class="fa fa-user"></i></span>  
     </div>  
     <input type="text" class="form-control sty1"  id="username" formControlName="username" placeholder="nom d'utilisateur" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
     <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
         <div *ngIf="this.LoginForm.controls['username'].invalid && (this.LoginForm.controls['username'].dirty || this.LoginForm.controls['username'].touched)">username doit etre au minimum 4 caractères</div>
         </div>
         </div>
         
         
    <div class="input-group mb-4">  
     <div class="input-group-prepend">  
      <span class="input-group-text"><i class="fa fa-lock"></i></span>  
     </div>
      <input type="password" class="form-control sty1"  id="password" formControlName="password" placeholder="mot de passe" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="this.LoginForm.controls['password'].invalid && (this.LoginForm.controls['password'].dirty || this.LoginForm.controls['password'].touched)">le mot de passe doit etre au minimum 8 caractères</div>
     </div>  
     <div *ngIf="submitted && errore && this.LoginForm.controls['username'].valid && this.LoginForm.controls['password'].valid " class="text-danger">
      <small>{{msgerreur}}</small>
      </div>

    
    </div>
      <button class="btn btn-primary btn-block "><i class="fa fa-sign-in"></i>&nbsp; connexion</button>
   
  </form>
      <hr>
  <div class="text-center">
    <a class="small" href="">mot de passe oublié?</a>
  </div>

  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
