<div class="bg-image d-flex justify-content-center align-items-center"
style="
        background-image: url('assets/img/rapide1.jpg');
        height: 100vh">
  <div class="mask" style="background-color: rgba(178, 60, 253, 0.6)">
    <div class="d-flex justify-content-center align-items-center h-100">
      
    </div>
  </div>
  <br>
  <br>
  <hr>
  <div class="clearfix" class="close">    <button class="btn btn-primary btn-block " (click)="home()"><i class="fa fa-sign-in"></i>&nbsp; Connexion &nbsp;</button>
    <!-- Pager -->
    
  
</div>